{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2>Editar Postagem</h2>
<hr>
<div class="card">
    <div class="card-body">
            <form action="/admin/postagens/edit" method="POST">
                <input type="hidden" name="id" value="{{postagem._id}}">
                <label for="titulo">Título: </label>
                <input type="text" name="titulo" class="form-control" required value="{{postagem.titulo}}">

                <label for="slug">Slug: </label>
                <input type="text" name="slug" class="form-control" required value="{{postagem.slug}}">

                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" class="form-control" required value="{{postagem.descricao}}">

                <label for="conteudo" >Conteúdo: </label>
                <textarea name="conteudo" class="form-control" required>{{postagem.conteudo}}</textarea>

                <label for="categoria">Categoria: </label>
                <select name="categoria" class="form-select form-select-lg mb-3" aria-label="">
                    {{#each categorias}}
                        <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria cadastrada</option>
                    {{/each}}
                </select>

                <button class="btn btn-success mt-2">Editar</button>
            </form>
    </div>
</div>