{{#if user}}
<div class="card mt-2">
    <div class="card-body">
        <h1>Produtos</h1>
    </div>
</div>

{{!-- Botão para cadastro de novos produto --}}
<a href="/produtos/addproduto">
<button class="btn btn-success mt-2">Cadastrar novo produto</button>
</a>

{{#each produtos}}
    <div class="card mt-2">
        <div class="card-body">
            <h4>Nome: {{this.nome}}</h4>
            <small>Valor unitário: {{this.valor}}</small>
            <h1></h1>

            <table>
                <tr>
                    <td>
                        <a href="/produtos/consultaproduto/{{_id}}"><button class="btn btn-success mt-2">Ver mais</button></a>
                    </td>
                    <td></td>
                    <td>
                        <a href="/produtos/editproduto/{{_id}}"><button class="btn btn-success mt-2">Editar</button></a>
                    </td>
                    <td></td>
                    <td>
                        <form action="/produtos/deletaproduto" method="POST">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button type="submit" class="btn btn-danger mt-2 ">Deletar produto</button>
                        </form>
                    </td>
                </tr>
            </table>

        </div>    
    </div>
{{else}}
    <div class="card mt-2">
        <div class="card-body">
                <h4 class="mt-3">Nenhum produto cadastrado</h4>
        </div>
    </div>
{{/each}}




{{else}}

{{/if}}